
<!--<pre>{{ordinaryDrink | json}}</pre>-->
<!--*ngIf="!result"-->

<div class="container">
    <div class="row">
        <div class="card col-md-4 col-lg-2 m-3 " *ngFor="let drink of ordinaryDrink">
            <img [src]="drink.strDrinkThumb + '/preview' " [routerLink]= "['/ordinary-drink', drink.idDrink]" class="card-img-top" alt="...">
            <div class="card-body ab">
                <h5 class="card-title">{{drink.strDrink}}</h5>
                
                <div class="bottoni">
                <a [routerLink]= "['/ordinary-drink', drink.idDrink]" class="btn btn-primary">Dettagli drink</a>
            </div>
            </div>
            </div>
    </div>
</div>
